.btn-connecter {
  background-color: #310046;
}

.btn-connecter:hover {
  background-color: #41015d;
  transition-duration: 0.4s;
}

.btn-inscription {
  background-color: #310046;
}

.btn-inscription:hover {
  background-color: #41015d;
  transition-duration: 0.4s;
}
